In [1]:
import pandas as pd
import numpy as np

In [2]:
# Leer datos
try:
    disney_df = pd.read_csv('files/disney_plus_titles.csv')
    netflix_df = pd.read_csv('files/netflix_titles.csv', delimiter=';')
except FileNotFoundError as e:
    print(f"Error: {e}")

In [3]:
num_registros_disney = disney_df.shape
print(f"El archivo de Disney tiene {num_registros_disney[0]} filas y {num_registros_disney[1]} columnas.")

num_registros_netflix = netflix_df.shape
print(f"El archivo de Netflix tiene {num_registros_netflix[0]} filas y {num_registros_netflix[1]} columnas.")

El archivo de Disney tiene 1450 filas y 12 columnas.
El archivo de Netflix tiene 8809 filas y 12 columnas.

In [4]:
# Explorar datos (5 primeros registros)
print(disney_df.head())

  show_id     type                                             title  \
0      s1    Movie  Duck the Halls: A Mickey Mouse Christmas Special
1      s2    Movie                            Ernest Saves Christmas
2      s3    Movie                      Ice Age: A Mammoth Christmas
3      s4    Movie                        The Queen Family Singalong
4      s5  TV Show                             The Beatles: Get Back

                            director  \
0  Alonso Ramirez Ramos, Dave Wasson
1                        John Cherry
2                       Karen Disher
3                    Hamish Hamilton
4                                NaN

                                                cast        country  \
0  Chris Diamantopoulos, Tony Anselmo, Tress MacN...            NaN
1           Jim Varney, Noelle Parker, Douglas Seale            NaN
2  Raymond Albert Romano, John Leguizamo, Denis L...  United States
3  Darren Criss, Adam Lambert, Derek Hough, Alexa...            NaN
4  John Lennon, Paul McCartney, George Harrison, ...            NaN

          date_added  release_year rating  duration  \
0  November 26, 2021          2016   TV-G    23 min
1  November 26, 2021          1988     PG    91 min
2  November 26, 2021          2011   TV-G    23 min
3  November 26, 2021          2021  TV-PG    41 min
4  November 25, 2021          2021    NaN  1 Season

                       listed_in  \
0              Animation, Family
1                         Comedy
2      Animation, Comedy, Family
3                        Musical
4  Docuseries, Historical, Music

                                         description
0   Join Mickey and the gang as they duck the halls!
1  Santa Claus passes his magic bag to a new St. ...
2          Sid the Sloth is on Santa's naughty list.
3               This is real life, not just fantasy!
4  A three-part documentary from Peter Jackson ca...

In [5]:
print(netflix_df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added release_year rating   duration  \
0  September 25, 2021         2020  PG-13     90 min
1  September 24, 2021         2021  TV-MA  2 Seasons
2  September 24, 2021         2021  TV-MA   1 Season
3  September 24, 2021         2021  TV-MA   1 Season
4  September 24, 2021         2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [6]:
print('-----')
print('DISNEY')
print('-----')
print(disney_df.info())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.info())

-----
DISNEY
-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB
None
-----
NETFLIX
-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8808 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7983 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: object(12)
memory usage: 826.0+ KB
None

In [7]:
# Verificar valores nulos
print('-----')
print('DISNEY')
print('-----')
print(disney_df.isnull().sum())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.isnull().sum())

-----
DISNEY
-----
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64
-----
NETFLIX
-----
show_id            0
type               1
title              2
director        2636
cast             826
country          833
date_added        12
release_year       2
rating             6
duration           5
listed_in          3
description        3
dtype: int64

In [8]:
# Duplicados
print('-----')
print('DISNEY')
print('-----')
print(disney_df.duplicated().sum())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.duplicated().sum())

-----
DISNEY
-----
0
-----
NETFLIX
-----
0

In [9]:
print('-----')
print('DISNEY')
print('-----')
print(disney_df.describe())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.describe())

-----
DISNEY
-----
       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000
-----
NETFLIX
-----
       show_id   type   title       director                cast  \
count     8809   8808    8807           6173                7983
unique    8809      3    8807           4528                7693
top      s8807  Movie  Zubaan  Rajiv Chilaka  David Attenborough
freq         1   6131       1             19                  19

              country       date_added release_year rating  duration  \
count            7976             8797         8807   8803      8804
unique            749             1768           75     18       221
top     United States  January 1, 2020         2018  TV-MA  1 Season
freq             2817              109         1147   3207      1793

                           listed_in  \
count                           8806
unique                           514
top     Dramas, International Movies
freq                             362

                                              description
count                                                8806
unique                                               8774
top     Paranormal activity at a lush, abandoned prope...
freq                                                    4

In [10]:
# Reemplazar valores no numéricos por NaN
netflix_df['release_year'] = pd.to_numeric(netflix_df['release_year'], errors='coerce')

# Eliminar filas en 'release_year' con valores nulos
netflix_df = netflix_df.dropna(subset=['release_year'])

# Convertir la columna a int
netflix_df['release_year'] = netflix_df['release_year'].astype(int)

print('-----')
print('DISNEY')
print('-----')
print(disney_df.describe())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.describe())

-----
DISNEY
-----
       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000
-----
NETFLIX
-----
       release_year
count   8806.000000
mean    2014.188167
std        8.788041
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [11]:
# Elimnar nulos 'cast'
disney_df = disney_df.dropna(subset=['cast'])
netflix_df = netflix_df.dropna(subset=['cast'])

# Rellenar 'duration' con string vacio
disney_df['duration'].fillna('Unknown', inplace=True)
netflix_df['duration'].fillna('Unknown', inplace=True)

print('-----')
print('DISNEY')
print('-----')
print(disney_df.isnull().sum())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.isnull().sum())

-----
DISNEY
-----
show_id           0
type              0
title             0
director        380
cast              0
country         157
date_added        3
release_year      0
rating            2
duration          0
listed_in         0
description       0
dtype: int64
-----
NETFLIX
-----
show_id            0
type               0
title              0
director        2282
cast               0
country          677
date_added        10
release_year       0
rating             4
duration           0
listed_in          0
description        0
dtype: int64

C:\Users\Luciano\AppData\Local\Temp\ipykernel_2400\203803115.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  disney_df['duration'].fillna('Unknown', inplace=True)
C:\Users\Luciano\AppData\Local\Temp\ipykernel_2400\203803115.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  netflix_df['duration'].fillna('Unknown', inplace=True)

In [12]:
# Cambiar a date 'date_added'
disney_df['date_added'] = pd.to_datetime(disney_df['date_added'], errors='coerce')
print(disney_df['date_added'].head())
netflix_df['date_added'] = pd.to_datetime(netflix_df['date_added'], errors='coerce')
print(netflix_df['date_added'].head())

0   2021-11-26
1   2021-11-26
2   2021-11-26
3   2021-11-26
4   2021-11-25
Name: date_added, dtype: datetime64[ns]
1   2021-09-24
2   2021-09-24
4   2021-09-24
5   2021-09-24
6   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [13]:
# Contar registros
print('-----')
print('DISNEY')
print('-----')
print(disney_df.count())
print('-----')
print('NETFLIX')
print('-----')
print(netflix_df.count())

-----
DISNEY
-----
show_id         1260
type            1260
title           1260
director         880
cast            1260
country         1103
date_added      1257
release_year    1260
rating          1258
duration        1260
listed_in       1260
description     1260
dtype: int64
-----
NETFLIX
-----
show_id         7982
type            7982
title           7982
director        5700
cast            7982
country         7305
date_added      7892
release_year    7982
rating          7978
duration        7982
listed_in       7982
description     7982
dtype: int64

In [14]:
# Convertir duration '2 seasons' a minutos
def convert_duration(duration):
    if 'min' in duration:
        return int(duration.split(' ')[0])  # Extraer la parte numérica si está en minutos
    elif 'Season' in duration:
        temporadas = int(duration.split(' ')[0])
        return temporadas * 600  # Ejemplo: 1 temporada = 10 horas (600 minutos)
    else:
        return np.nan

In [15]:
netflix_df['duration_minutes'] = netflix_df['duration'].apply(convert_duration)
disney_df['duration_minutes'] = disney_df['duration'].apply(convert_duration)

In [16]:
print(netflix_df[['title', 'duration', 'duration_minutes']].head())

                              title   duration  duration_minutes
1                     Blood & Water  2 Seasons            1200.0
2                         Ganglands   1 Season             600.0
4                      Kota Factory  2 Seasons            1200.0
5                     Midnight Mass   1 Season             600.0
6  My Little Pony: A New Generation     91 min              91.0

In [17]:
# Agregar columna 'platform' 
netflix_df['platform'] = 'Netflix'
disney_df['platform'] = 'Disney'
movies_df = pd.concat([netflix_df, disney_df], ignore_index=True)

In [18]:
movies_df['country'] = movies_df['country'].apply(lambda x: x.split(',')[0] if isinstance(x, str) else x)

In [20]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [ ]:
load_dotenv()

password = os.getenv('DB_PASS')

engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost/challenge')

In [ ]:
# Insertar df principal
movies_df[['show_id', 'title', 'type','director', 'release_year', 'country', 'platform', 'duration', 'duration_minutes', 'description', 'date_added']].to_sql(
    name='peliculas_series', con=engine, if_exists='append', index=False)

In [ ]:
from sqlalchemy import text
# Descomponer la lista de actores
actor_list = movies_df['cast'].str.split(', ').explode().reset_index(drop=True)

insert_query = text("INSERT IGNORE INTO challenge.actores (nombre) VALUES (:actor_name)")

with engine.connect() as connection:
    with connection.begin():  # Iniciar una transacción
        for actor in actor_list:
            connection.execute(insert_query, {'actor_name': actor})

In [ ]:
from sqlalchemy import text

# Obtener todos los actores y sus IDs en un diccionario
with engine.connect() as connection:
    result = connection.execute(text("SELECT actor_id, nombre FROM challenge.actores"))
    actor_id_map = {row[1]: row[0] for row in result}  # Cambia a índice para acceder a los elementos

# Insertar las relaciones entre películas y actores en 'peliculas_actores'
insert_query = text("INSERT IGNORE INTO challenge.peliculas_actores (show_id, actor_id) VALUES (:show_id, :actor_id)")

with engine.connect() as connection:
    with connection.begin():  # Iniciar una transacción
        for index, row in movies_df.iterrows():
            show_id = row['show_id']
            actores = row['cast'].split(', ')
            
            for actor in actores:
                actor_id = actor_id_map.get(actor)  # Obtener el actor_id del diccionario
                if actor_id:  # Asegurarse de que el actor_id existe
                    connection.execute(insert_query, {'show_id': show_id, 'actor_id': actor_id})